<html>
    <head>
        <title>Блог начинающего человека:)</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post/ First project</a></h2>
            <p>Сегодня я создал первый проект, веб-блог. Делал я его почти целый день, т.к. никогда этим не занимался, не имею знаний в django и HTML.</p>
            <p>published: 11.04.2021, 21:03</p>
        </div>

        <div>
            <h2><a href="">My second post/ About vaccine</a></h2>
            <p>После вакцинации у меня заболело горло, но чувствую себя хорошо, лучше чем в первые дни.</p>
            <p>published: 11.04.2021, 21:03</p>
        </div>
    </body>
</html>